html{
    box-sizing: border-box;
}

body{
    max-width: 500px;
    margin: 0 auto;
    border: 3px solid skyblue;
    margin-top: 10px;
}
img{
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
}


p, h1{
    text-align: center;
}